.salahPage .header {
    margin-top: 45px;
    margin-left: 120px;
	position: absolute;
	top: 0;
    text-shadow: 0px 0px 2.5px rgba(0, 0, 0, .3);
}

#datesListContainer {
    bottom: 0;
	position: absolute;
    width: 100%;
}

#datesList {
    -ms-scroll-snap-type: proximity;
    -ms-scroll-translation: vertical-to-horizontal;
    
	display: -ms-flexbox;
	list-style: none;
	margin: 0;
	padding: 50px 0 135px 120px;
    overflow-x: scroll;
}

#datesList > li {
	-ms-flex-direction: column;
    
	display: -ms-flexbox;
}

#datesList > li.blankDate {
    position: static;
    visibility: hidden;
    overflow: hidden;
    width: 0px;
}

.salahList {
	-ms-flex-direction: row;
	
	display: -ms-flexbox;
	list-style: none;
	margin: 0;
	padding: 0;
}

label.dateStamp {
	display: block;
	font-size: 11pt;
    font-weight: 600;
    line-height: 1.3636;
	padding-bottom: 7px;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .65);
}

.salahList > li {
    background-clip: content-box;
	background-color: rgba(0, 0, 0, .9);
	margin-right: 2px;
    /* adding wipe-able transition property here causes salah to animate when they are added to the document */
    /*transition: margin-right .7s ease, padding 1.4s ease, width 1.4s ease, color .3s linear;*/
    transition: color .3s linear;
}

.salahList > li:last-child {
    margin-right: 40px;
}

.salahList > li.expired {
    color: rgba(255, 255, 255, 0.3);
}

.salahList h1 {
    padding: 15px 30px 0 30px;
}

.salahList h2 {
    padding: 0 30px 25px 30px;
    white-space: nowrap; /* prevent wrapping and just let them overflow */
    transition: width 0.4s ease;    
    display: block;
    overflow: hidden;
    padding-right: 0;
    margin-right: 30px;
    white-space: nowrap;
}

.progressContainer {
    height: 0px;
    overflow: visible;
    position: relative;
    top: -7px; /* progress height is 6px */
    padding: 0px 1px;
}

.progressContainer progress {
    background-color: rgba(255, 255, 255, 0.07);
    display: block;
    vertical-align: text-bottom;
    width: 100%;
}

.wipeable {    
    transition: margin-right .7s ease, padding 1.4s ease, width 1.4s ease, color .3s linear !important;
	overflow: hidden;
	white-space: nowrap; /* Very important as it prevents text from wrapping */
}