#header {
    margin-top: 45px;
    margin-left: 120px;
}

#settingsContainer {	
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    -ms-flex-align: stretch;

    display: -ms-flexbox;
	overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 120px;
    margin-top: 24px;
}

.settingTitle {
    margin-bottom: 20px;
}

#locationSetting {
    margin-right: 140px;
}

#locationControlHost {
    width: 1000px;
}

#backgroundSetting {
    width: 100%;
}

#backgroundSetting .win-listview {
	height: 100%;
	margin-left: -5px;
}

#backgroundSetting .win-container {
    background: white;
}

#backgroundSetting .win-selected .win-selectioncheckmark,
#backgroundSetting .win-selected .win-selectioncheckmarkbackground {	
	display: none;
}

.backgroundListItem {
	-ms-grid-columns: min-content max-content;
	color: black;
    display: -ms-grid;
	padding: 10px;
}

.backgroundListItem img {
	-ms-grid-column: 1;
	-ms-grid-row: 1;	
	height: 100px;
	width: 100px;
}

.backgroundListItem div {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	padding-left: 10px;
	position: relative;
}

.backgroundListItem div p {
	bottom: 0;
	margin-bottom: 0;
	position: absolute;
}

.backgroundListItem a {
    color: #ac7aff;
}