#bismillahContainer {
	display: block;
	height: 115px;
	left: 300px;
	position: absolute;
	top: 0;
	width: 600px;
}

#bismillahContainer h2 {
    font-size: 50px;
	font-family: "Cambria";
	bottom: 0;
	position: absolute;
}

#settingsContainer {
	padding-left: 120px;
}

#locationSetting {
	/* TODO: Fill background top and bottom of png image with water color,
	   (remove antarctica) */
	background-color: #a5bfdd;
	/*background-image: url("/images/worldmap/map.png"); set in Page render */
	background-repeat: repeat-x;
	background-clip: content-box;
	border: 1px solid rgba(0, 0, 0, .45);
    overflow: hidden;
	position: relative;
	height: 530px;
	top: 40px;
	width: 1000px;
	display: -ms-flexbox;
	-ms-flex-flow: row;
	-ms-flex-align: center;
}

#mapImage {
    display: none;
}

#marker {
	display: -ms-flexbox;
	-ms-flex-align: center;
	height: 15px;
	/*margin-left: 15px;*/
    opacity: 0;
	position: absolute;
    transition: opacity .4s linear;
	left: 50%;
}

#marker div.leftArrow {
	border-color: transparent black transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	display: block;
	height: 0px;
	width: 0px;
}

#marker h3 {
	background: black;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px 5px 5px;
}

#overlay {
	background: rgba(0, 0, 0, .8);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
    transition: opacity .3s linear;
	width: 100%;
	z-index: 0;
}

#controls {
	background: black;
	margin: 0 auto;
	padding: 30px 40px 40px 40px;
	position: relative;
    top: 0px;
    transition: top .5s ease;
	z-index: 10;
}

#controlsTitle {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

#upButton {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	-ms-grid-row-align: end;
	display: -ms-flexbox;
	opacity: 0;
	-ms-flex-direction: column;
	-ms-flex-align: end;
    transition: opacity .4s linear;
}

#controls p:last-child {
	margin-bottom: 0;
}

.win-upbutton {
    color: black;
    border-color: black;
    display: inline-block;
    min-width: 0;
    min-height: 0;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    position: relative;
    text-align: center;

    top: -80px;
    /* Normal sizing. */
    width: 30px;
    height: 30px;
    font-size: 20pt;
    line-height: 30px; /* line-height must match the content box height. */
    vertical-align: baseline;
}
.win-upbutton:hover, .win-upbutton:hover:active {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.win-upbutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0E4";
	vertical-align: top;
	position: relative;
	top: -4px;
}
.win-upbutton:disabled, .win-upbutton:disabled:active {
    visibility: hidden;
}

/* Toggle switch controls from ui-light.css */
/*
#controls * {
	color: black;
}

.win-toggleswitch .win-title {
	color: black;
}
.win-toggleswitch .win-label {
	color: black;
}

#controls button {
	background-color: rgba(182, 182, 182, 0.7);
    border-color: rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}

#controls input[type=text] {
	background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(0, 0, 0, 0.27);
    color: rgb(0, 0, 0);
}*/