.backgroundControl {
    position: relative;
}

.backgroundControl div {
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.backgroundControl div img {
    position: relative;
}

.backgroundSelector .selected {
	display: block;
	margin-bottom: 15px;
    position: relative; /* only needed to help place .info child */
	width: 100%;
}

.backgroundSelector .selected .backgroundControl {
    height: 100%;
    width: 100%;
}

.backgroundSelector .choice {
    display: block;
	margin-right: 15px;
	width: calc(20% - 12px);
	overflow: hidden;
}

.backgroundSelector .choice:last-child {
    margin-right: 0px;
}

.backgroundSelector .choicesList {
	display: -ms-flexbox;	
}

.backgroundSelector .choice .highlight {
	background: rgba(255, 255, 255, 0.15);
	height: 100%;
	width: 100%;
	visibility: hidden;
}

.backgroundSelector .choice:hover .highlight {
	visibility: visible;
}

.backgroundSelector .choice:active .highlight {
	visibility: hidden;
}


.backgroundSelector .info {
    bottom: 15px;
    background: rgba(0, 0, 0, .9);
    border-radius: 2px;
    right: 15px;
    padding: 8px 14px;
    position: absolute;
    text-align: right;
    z-index: 10;
}

.backgroundSelector .info h2 {
    padding-bottom: 3px !important;
}

.backgroundSelector .info p {
    opacity: .7;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
}

.backgroundSelector .info a {
    color: #C4ABFF;
    padding-bottom: 0px !important;
}