.backgroundControl {
    position: relative;
}

.backgroundControl div {
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.backgroundControl div img {
    position: relative;
}

.backgroundControl div.lastCurrent {
}

.backgroundControl div.current {
}

.backgroundSelector .selected {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}

.backgroundSelector .selected .backgroundControl {
    height: 100%;
    width: 100%;
}

.backgroundSelector .choice {
    display: block;
	margin-right: 15px;
	width: calc(20% - 12px);
	overflow: hidden;
}

.backgroundSelector .choice:last-child {
    margin-right: 0px;
}

.backgroundSelector .choicesList {
	display: -ms-flexbox;	
}

.backgroundSelector .choice .highlight {
	background: rgba(255, 255, 255, 0.15);
	height: 100%;
	width: 100%;
	visibility: hidden;
}

.backgroundSelector .choice:hover .highlight {
	visibility: visible;
}

.backgroundSelector .choice:active .highlight {
	visibility: hidden;
}