body {
    background-image: url("/images/backgrounds/pattern.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 200px 346px;
}

#background {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}