.mapContainer {

	-ms-flex-direction: row;
	-ms-flex-align: center;
	background-repeat: repeat;
	/*background-clip: content-box;*/
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-clip: border-box;
    background-size: 1000px 1000px;
	display: -ms-flexbox;
    height: 100%;
    overflow: hidden;
    position: relative;

    /* Prevent width from being overridden (since map image resources are fixed size - 1000px) */
    /*width: 1000px !important; */
}

.dimmer {
	background: rgba(0, 0, 0, .65);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
    transition: opacity .4s linear;
	width: 100%;
	z-index: 0;
}

.mapContainer img {
	display: none;
}

.controlsContainer {	
	margin: 0 auto;
	position: relative;
    top: 0px;
	z-index: 1;
}

.controlsContainer.animatable {
    transition: top .4s ease;
}

.progress {
    color: white;
	float: right;
	margin-top: 6px;
    opacity: 0; /* Since the GPS actions take less than 2seconds, don't indicate progress */
}

.controls {
	background: #080808;
    box-shadow: rgba(0, 0, 0, .45) 0px 0px 6px;
	padding: 30px;
}

.controls p:last-child {
	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-align: center;
	margin-bottom: 0;
}

.controls p:last-child input[type=text] {
	margin-right: 10px;
}

.marker {
	-ms-flex-align: center;
	display: -ms-flexbox;
	left: 50%;
	margin-left: -15px;
    margin-top: -15px;
	position: absolute;
	transition: opacity .5s linear;
}

.marker div:first-child {
	border: 15px solid transparent;
	border-right: 15px solid black;
	display: block;
	width: 0px;
	height: 0px;
}

.markerText {
    color: white;
	background: black;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px 5px 5px;
}

/* Visibility Button */
.visibilityButtonContainer {
	height: 0px;
	position: relative;
	top: -45px;
	text-align: center;
}

.visibilityButton {
    color: black;
    border-color: black;
    display: inline-block;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    min-width: 0;
    min-height: 0;
	opacity: 1;
    padding: 0;
    position: relative;
    text-align: center;
  	transition: opacity .4s linear;

    /* Normal sizing. */
    width: 30px;
    height: 30px;
    font-size: 19pt;
    line-height: 30px; /* line-height must match the content box height. */
    vertical-align: baseline;
}

.visibilityButton:hover, .visibilityButton:hover:active {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.visibilityButton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0E4";
	vertical-align: top;
	position: relative;
	top: -4px;
}
/* End Visibility Button Styles */