<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="62034Bayvakoof.Salah" Version="1.0.0.1" Publisher="CN=34FDEA86-1BFE-41CB-A0AA-1CD4DF894240" />
  <Properties>
    <DisplayName>Salah</DisplayName>
    <PublisherDisplayName>Bayvakoof</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Salah" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="A quick and visually appealing way to view the current and upcoming islamic prayer times. As always, please use discretion when determining the appropriate time to pray." ForegroundText="light" BackgroundColor="#005a0b">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="http://*.mapquestapi.com" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>